html {
  --light-grey-txt-color: #bbbbbb;
  --interval-grey-txt-color: #484848;
  --dark-grey-txt-color: #383838;
  --light-blue-txt-color: #00a99d;
  --bg-light-grey-color: #8a8a8a;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}

.largeTitle{
  font-size:4rem;
  font-weight:bold;
}
.smallText{
  font-size:.8rem;
}
.titleBlue{
  color:var(--light-blue-txt-color);
}

.priceSub{
  font-size:3rem;
  font-family: 'Raleway', sans-serif;
}

.cents{
  vertical-align: baseline;
  position: relative;
  top: -2em;
  left: -0.6rem;
  font-size:1rem;
}

.bg-light-blue{
  background-color:var(--light-blue-txt-color);
}
.bg-dark-grey{
  background-color:var(--dark-grey-txt-color);
}
.bg-light-grey{
  background-color:var(--bg-light-grey-color);
}

.bg-grey{
  background-color:#363636;
}
.bg-grey:hover{
  background-color:#333333;
  transition: background-color .3s linear;
}
.bg-icons{
  width:80px;
  height:80px;
}
.bg-icons:hover{
  background-color:var(--light-blue-txt-color);
  transition: background-color .3s linear;
}
.bg-icons img{
  margin-top: 50%;
  transform: translateY(-50%);
}
.btn-white{
  border:solid 1px var(--bg-light-grey-color);
  color:var(--dark-grey-txt-color);
  font-size:0.8rem;
}
.btn-white:hover{
  background-color:var(--light-blue-txt-color);
  color:white;
  transition: background-color, color .3s linear;
}
.txt-light-blue{
  color:var(--light-blue-txt-color);
}
.txt-light-grey{
  color:var(--light-grey-txt-color);
}
.txt-interval-grey{
  color:var(--interval-grey-txt-color);
}


.switch-logo{
  background-color:white;
  width:30px;
  height:30px;
}

.rotate180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#copyright {
  color:white;
  background-color:#333333;
  text-align:center;
  padding-top:25px;
  padding-bottom:1px;
}

@media screen and (min-width: 601px) {
  #copyright p {
    font-size: 14px;
    padding-top:20px;
  }
}
@media screen and (max-width: 600px) {
  #copyright p{
    font-size: 7px;
    padding-top:20px;
  }
}
@media screen and (max-width: 992px) {
  .btn {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .hideSmall {
    display:none;
  }
  .centered-S{
    text-align:center; !important;
  }
  .largerMT-S{
    margin-top:20px !important;
  }
}

#header img {
  margin: 3% 0px 3% 15%;
  width: 40%;
  height: auto;
}

#header {
  background-image: url(img/header_logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#menu{
  border-bottom: 2px solid rgba(0,0,0,0.3);
}

#menu a{
  color: #606060;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(60,60,60, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #606060;
}

.nav-link{
  font-weight: bold;
}

.nav-link:hover{
  color:white !important;
  background-color:#00a99d !important;
  border-radius:4px !important;
}
