#copyright {
  color:white;
  text-align: center;
  background-color:#333333;
}

@media screen and (min-width: 601px) {
  #copyright {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  #copyright {
    font-size: 8px;
  }
}
#header img {
  margin: 3% 0px 3% 15%;
  width: 40%;
  height: auto;
}
#header {
  background-image: url(img/header_logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
